*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
*.apk
*.ap_
*.aab
!releases/*.apk
/_tmp/
/build_log.txt
*.log
app/src/main/jniLibs/**/hev-socks5-tunnel-bin
app/src/main/cpp/byedpi/.git
app/src/main/jni/hev-socks5-tunnel/.git
